<div class="sidebar sticky-top">
    <div class="sidebar-section">
        <h5><span>Serviços</span></h5>
        <div><strong>Consultoria de Imagem</strong>
            <ul>
                <li>Descubra seu estilo pessoal único</li>
                <li>Aprenda a valorizar seus pontos fortes</li>
                <li>Crie um guarda-roupa versátil e atemporal</li>
                <li>Sinta-se confiante em qualquer ocasião</li>
            </ul>
        </div>
        <div>Análise de Colorimetria
            <ul>
                <li>Identifique as cores que mais favorecem sua beleza natural</li>
                <li>Aprenda a combinar cores para criar looks harmoniosos</li>
                <li>Economize tempo e dinheiro ao comprar roupas e acessórios</li>
                <li>Sinta-se radiante e autêntico todos os dias</li>
            </ul>
        </div>
    </div>
    <div class="sidebar-section">
        <h5><span>Agende sua colorimetria</span></h5>
        <img src="{{site.baseurl}}/assets/images/ad.png">
        <p>Pronto para descobrir a melhor versão de si mesmo? Entre em contato conosco hoje mesmo e agende sua consulta personalizada com a Sofia. Juntos, vamos criar a imagem que reflete sua essência única.</p>
    </div>
</div>